.Alert {
  padding: 10px;
  border-radius: 5px;
}

.Alert--Info {
  background: gray;
  color: white;
}

.Alert--Success {
  background: green;
  color: white;
}

.Alert--Error {
  background: red;
  color: white;
}
