body {
    padding-bottom: 100px;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* Headers */

.page-heading h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 26px;
}

/* misc */

.buttonBar {
  margin: 0;
  padding: 8px;
  background: #F5F5F5;
  border-radius: 5px;
}

.headerBar {
  margin: 0 0 8px 0;
  padding: 12px 8px;
  background: #F5F5F5;
  border-radius: 5px;
}

.headerBar h3 {
  margin: 0;
  padding: 0px;
}

.contentBar {
  margin: 0 0 8px 0;
  padding: 10px;
  background: #F5F5F5;
  border-radius: 5px;
}

.contentBar p {
  margin: 0;
  padding: 0;
}

.contentBar hr {
  margin: 8px 0;
  padding: 0;
  border-top: 1px solid #DDD;
}

.titleBar {
  margin: 10px 0 10px 0;
  padding: 5px;
  border: 0;
  border-radius: 8px;
  background: #D9EDF7;
  text-align: center;
}

.titleBar p {
  margin: 0;
  padding: 0;
  display: inline;
  color: #31708F;
}

/* system component tables */
.component-table-column-quantity {
  width: 5%;
  text-align: center;
}

.component-table-column-name {
  width: 15%;
  text-align: left;
}

.component-table-column-manufacturer {
  width: 10%;
  text-align: left;
}

.component-table-column-model {
  width: 10%;
  text-align: left;
}

.component-table-column-description {
  width: 40%;
  text-align: left;
}

.component-table-column-category {
  width: 15%;
  text-align: left;
}

.component-table-column-detach {
  width: 5%;
  text-align: right;
}

/* document table */
.document-table-column-document {
  width: 45%;
  text-align: left;
}

.document-table-column-description {
  width: 45%;
  text-align: left;
}

.document-table-column-edit {
  width: 5%;
  text-align: right;
}

.document-table-column-delete {
  width: 5%;
  text-align: right;
}

 /* session alerts */

 /* photos */

#system-photo {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    text-align: center;
    background: #fff;
  }

  #system-photo img {
    width: 100%;
    height: auto;
  }

.recentSystemPhoto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 5px 0 10px 0;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background: #f8f8f8;
}

.recentSystemPhotoThumb {
  order: 1;
  width: 160px;
  margin: 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #d8d8d8;
  background: #f8f8f8;
}

.recentSystemPhotoContent {
  order: 2;
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  background: #f8f8f8;
}

@media (min-width: 800px) {

  .no-gutter-right {
      padding-right:0;
  }

  .no-margin-top{
    margin-top: 0;
  }

}

.right-justify {
  padding: 20px 15px 10px 15px;
}

@media (min-width: 1170px) {

  .right-justify {
    text-align: right;
    padding: 15px 15px;
  }

}

/*
* Heading icons
 */

.page-heading .fa {
  font-size: 2em;
  margin: 10px;
}

/*
* Modal icons
 */

 .modal-icon .fa {
   font-size: 4em;
   color: #D9534F;
   margin: 10px;
 }

/* disable text area resizing */
.no-resize {
  resize: none;
  text-indent: 0;
}

/* work order stuff */

.work-order-label {
  font-size: 12px;
  color: #337AB7;
}

.sort-icon {
  color: #ccc;
  font-size: 75%;
}

/* manufacturer index styles */

.manufacturer-card-left {
  float: left;
}

@media (max-width: 800px) {
  .manufacturer-card-right {
    display: none;
  }
}

@media (min-width: 800px) {
  .manufacturer-card-right {
    float: right;
    padding: 10px;
  }
}

/* customer index styles */

h4.customer-card-title {
  margin: 0;
}

@media (max-width: 800px) {
  .customer-card-bottom-container {
    display: none;
  }
  .customer-card-left {
    display: none;
  }
  .customer-card-right {
    display: none;
  }
  hr.customer-card {
    display: none;
  }
}

@media (min-width: 800px) {
  .customer-card-bottom-container {
    display: flex;
    justify-content: space-evenly;
  }
  .customer-card-left {
    float: left;
    padding: 10px;
    margin: 0;
  }
  .customer-card-left h4 {
    font-size: 250%;
    margin-top: 0;
  }
  .customer-card-right {
    float: right;
    padding: 10px;
    margin: 0;
  }
  .customer-card-right h4 {
    font-size: 250%;
    margin-top: 0;
  }
  hr.customer-card {
    margin: 15px;
  }
  a.customer-card:link, a.customer-card:hover, a.customer-card:active, a.customer-card:visited {
    text-decoration: none;
  }
}

/* admin dashboard styles */

a.panel-button:link, a.panel-button:hover, a.panel-button:active, a.panel-button:visited {
  text-decoration: none;
}

