body {
    padding-bottom: 100px;
    padding-top: 50px;
}
/* misc */

.buttonBar {
  margin: 0;
  padding: 8px;
  background: #F5F5F5;
  border-radius: 5px;
}

.headerBar {
  margin: 0 0 8px 0;
  padding: 12px 8px;
  background: #F5F5F5;
  border-radius: 5px;
}

.headerBar h3 {
  margin: 0;
  padding: 0px;
}

.contentBar {
  margin: 0 0 8px 0;
  padding: 10px;
  background: #F5F5F5;
  border-radius: 5px;
}

.contentBar p {
  margin: 0;
  padding: 0;
}

.contentBar hr {
  margin: 8px 0;
  padding: 0;
  border-top: 1px solid #DDD;
}

.titleBar {
  margin: 10px 0 10px 0;
  padding: 5px;
  border: 0;
  border-radius: 8px;
  background: #D9EDF7;
  text-align: center;
}

.titleBar p {
  margin: 0;
  padding: 0;
  display: inline;
  color: #31708F;
}

/* system component tables */
.component-table-column-quantity {
  width: 5%;
  text-align: center;
}

.component-table-column-name {
  width: 15%;
  text-align: left;
}

.component-table-column-manufacturer {
  width: 10%;
  text-align: left;
}

.component-table-column-model {
  width: 10%;
  text-align: left;
}

.component-table-column-description {
  width: 40%;
  text-align: left;
}

.component-table-column-category {
  width: 15%;
  text-align: left;
}

.component-table-column-detach {
  width: 5%;
  text-align: right;
}

 /* session alerts */

 /* photos */

#system-photo {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    text-align: center;
    background: #fff;
  }

  #system-photo img {
    width: 100%;
    height: auto;
  }

.recentSystemPhoto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 5px 0 10px 0;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background: #f8f8f8;
}

.recentSystemPhotoThumb {
  order: 1;
  width: 160px;
  margin: 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #d8d8d8;
  background: #f8f8f8;
}

.recentSystemPhotoContent {
  order: 2;
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  background: #f8f8f8;
}

@media (min-width: 800px) {

  .no-gutter-right {
      padding-right:0;
  }

  .no-margin-top{
    margin-top: 0;
  }

}

.right-justify {
  padding: 20px 15px 10px 15px;
}

@media (min-width: 1170px) {

  .right-justify {
    text-align: right;
    padding: 15px 15px;
  }

}

/*
* Heading icons
 */

.page-heading .fa {
  font-size: 2em;
  margin: 10px;
}

/*
* Modal icons
 */

 .modal-icon .fa {
   font-size: 4em;
   color: #D9534F;
   margin: 10px;
 }
